image-classification/cifar-10-batches-py/data_batch_1
image-classification/cifar-10-batches-py/data_batch_2
image-classification/cifar-10-batches-py/data_batch_3
image-classification/cifar-10-batches-py/data_batch_4
image-classification/cifar-10-batches-py/data_batch_5
image-classification/cifar-10-batches-py/readme.html
image-classification/cifar-10-batches-py/test_batch
